.app {
  @media (hover: hover) and (pointer: fine) {
    display: none;
  }

  height: 100%;
  display: flex;
  flex-direction: column;

  .header {
    margin: 0.5em;
  }

  .react-display-chessboard {
    align-self: center;
  }
}

.mouse {
  @media (hover: none) and (pointer: coarse) {
    display: none;
  }

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
