.app {
  @media (hover: hover) and (pointer: fine) {
    display: none;
  }

  height: 100%;
  display: flex;
  flex-direction: column;

  .header {
    margin: 1em;
  }

  // Questionably global style for all chips
  .MuiChip-root {
    margin: 0.3em 0 0 0.3em;
  }
}

.mouse {
  @media (hover: none) and (pointer: coarse) {
    display: none;
  }

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
